* {
    box-sizing: border-box;
    font-family: 'arial', 'verdana', 'san-serif';
}

body{
    margin: 0;
    max-width: auto;
    max-height: auto;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 55px;
}

#wbname a:link {
    text-decoration: none;
    background: linear-gradient(to right, rgb(106, 75, 193) 0%, rgb(45, 170, 215) 100%);
    background-clip: text;
    color: transparent;
}

nav{
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

.centered-container {
    text-align: center;
}

.featured-stories {
    max-width: 800px;
    margin: 0 auto;
}

.story-container {
    text-align: left;
    padding: 20px;
    border: 1px solid #030303;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.story-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.story-container h3 {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

.story-container p {
    margin-top: 10px;
    color: #666;
}